.screen {
    width: 100%;
    text-align: right;
    height:15vh;
    font-size: 10vh;
    background-color: #858694;
    color: white;
    box-sizing: border-box;
}

.textArea {
    padding-right: 2vh;
    padding-top: 2vh;
}


.button {
    width: 25%;
    height: 17vh;
    border-width: thin;
    padding: 0;
    font-weight: bold;
    font-size: 7vh;
    background-color: #e0e0e0;
}

.operation {
    color: white;
    background-color: #f5923e;
    
}

body {
    margin: 0;
}